[submodule "quicly-go"]
	path = quicly-go
	url = https://github.com/Project-Faster/quicly-go.git
[submodule "backend/quicly-go"]
	path = backend/quicly-go
	url = https://github.com/Project-Faster/quicly-go.git
